<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<%= form_for @list do |f| %>
	<%= f.label :name, 'Name' %>
	<%= f.text_field :name %>

	<%= f.submit 'Save' %>
<% end %>