<h1>New List</h1>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

	<%= form_for @list do |f| %>
    	<%= f.label :name, 'Name'%>
		<%= f.text_field :name, class: "form-control" %>

		<%= f.fields_for :tasks do |ff| %>
			<%= ff.label :title%>
			<%= ff.text_field :title, class: "form-control" %>

			<%= ff.label :description%>
			<%= ff.text_area :description, class: "form-control" %>
		<% end %>
		<%= f.submit 'Save', class: "btn btn-outline-primary" %>
	<% end %>
