<h1>Welcome</h1>
<%= link_to 'New TodoList', new_list_path %>

<% if flash[:success] %>
  <p class="success"><%= flash[:success] %></p>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>
<% @lists.each do | l | %>
	<tr>
      <td><%= l.name %></td>
      <td>
      	<% if l.publish? %>
      		Public
      	<% else %>
      		Private
      	<% end %>
      </td>
      <td><%= link_to 'Private', list_privating_path(l), method: 'post' %></td>
      <td><%= link_to 'Public', list_publish_path(l), method: 'post' %></td>
      <td><%= link_to 'Show', list_task_index_path(l) %></td>
    </tr>
<% end %>
</table>